[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pepsiburn
[access "refs/for/refs/*"]
	read = group user/pepsiburn
	push = group user/pepsiburn
	label-Code-Review = -2..+2 group user/pepsiburn
	label-Verified = -1..+1 group user/pepsiburn
	rebase = group user/pepsiburn
	removeReviewer = group user/pepsiburn
	submit = group user/pepsiburn
[access "refs/heads/*"]
	read = group user/pepsiburn
	create = group user/pepsiburn
	push = +force group user/pepsiburn
	pushMerge = group user/pepsiburn
[access "refs/tags/*"]
	push = group user/pepsiburn
	push = +force group user/pepsiburn
